* {
	box-sizing: border-box;
	 /*outline: 1px solid red; */
}
body{
  background-color: #d6d6c2;
}
.contactForm{
  padding: 10px;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.contactForm input{
  margin: 10px;
}

.contactForm button{
  border: none;
  width: 100px;
  height: 25px;
  text-align: center;
  background-color: blue;
  color: white;
}
ul{
  margin: 0 auto;
  text-align: center;
}
.contactItem{
  display: inline-block;
  text-align: center;
  margin: 30px;
}
